* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url("../img/ceu.jpg");
}

.status,
.species,
.sort,
.gender {
  display: none;
}

.mainly__header {
  background-image: url("../img/ceu.jpg");
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu__mainly {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu__navigate {
  display: flex;
}

.menu__navigate li {
  font-size: 25px;
  padding: 25px;
}

.menu__navigate li a {
  color: #fff;
  font-family: "Baloo Tamma 2", cursive;
}

.menu__navigate li a:hover {
  color: #a0d03f;
}

.icon-open {
  display: none;
}

.icon-close {
  display: none;
}

.menu {
  align-items: center;
  background-color: #a0d03f;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;
  z-index: 9999;
}

.menu__items {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.menu__items li {
  align-items: center;
  color: #000;
  display: flex;
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 900;
  position: relative;
  padding: 14px 14px;
}

.menu__items li:hover {
  background-color: #41aa8b;
  color: #fff;
}

.menu__items > li:hover ul {
  visibility: visible;
  max-height: 100vh;
  z-index: 9999;
}

.menu__items ul {
  background-color: #4cc4a0;
  left: 50%;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: 100%;
  transform: translateX(-50%);
  transition: 0.4s max-height ease-in;
  visibility: hidden;
}

.sort {
  width: 25px;
}

.icon-search {
  display: none;
}

.search__character {
  text-transform: capitalize;
}

.search__nave {
  display: none;
  width: 50px;
}

.cards__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 0 0;
  text-align: center;
  width: 100%;
}

.card__character {
  background-color: rgb(51, 51, 51);
  border-radius: 15px;
  color: #fff;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 12px;
  height: auto;
  line-height: 1.5;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__name {
  align-items: center;
  background-color: #000;
  bottom: 60px;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  opacity: 0.9;
  position: relative;
}

.card__description {
  align-items: flex-start;
  bottom: 35px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 10px;
  position: relative;
}

.card__description p {
  color: rgb(255, 152, 0);
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  margin: 5px 0px;
  width: 100%;
}

.card__description span {
  color: #fff;
  font-weight: 100;
}

.about__mainly {
  background-image: url(../img/buracoper.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__mainly h1,
.about__mainly p {
  color: #fff;
  background-color: #000;
  font-weight: 900;
  font-family: "Baloo Tamma 2", cursive;
}

.about__mainly h1 {
  width: 100%;
  font-size: 25px;
}

.about__mainly p {
  padding: 0px 20px;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 960px) {
  .menu__navigate {
    display: none;
  }

  .menu__navigate li a {
    color: #fff;
    font-weight: 900;
  }

  .icon-open {
    color: #fff;
    display: block;
    font-size: 25px;
  }

  .icon-close {
    color: #fff;
  }

  .menu__nav {
    padding: 25px 15px;
  }

  .menu--show {
    position: absolute;
    right: 5px;
    top: 40%;
    width: 30%;
    background-image: url(../img/ceu.jpg);
    opacity: 0.8;
    border-radius: 5px;
  }

  .menu--show .menu__navigate {
    display: block;
  }

  .menu--show .menu__navigate li {
    font-size: 18px;
    padding: 10px 5px;
  }

  .menu--show .icon-open {
    display: none;
  }

  .menu--show .icon-close {
    display: block;
    padding: 0px 0px 15px 0px;
  }

  .animate {
    width: 0%;
  }

  .animate input {
    background: none;
    border: none;
    color: #000;
    font-weight: 900;
    padding: 0px;
    width: 0;
  }

  .animate--show {
    width: 100%;
  }

  .animate--show i {
    display: none;
  }

  .animate--show img {
    animation: flySlow 2s ease-in-out;
    display: block;
    position: absolute;
    width: 75px;
    left: 80%;
    top: 0%;
  }

  .animate--show input {
    width: 100%;
    padding: 0px 10px;
  }

  .menu {
    bottom: 0;
    height: auto;
    position: fixed;
  }

  .menu__items {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__items li {
    font-size: 15px;
    justify-content: space-around;
    padding: 20px 10px;
  }

  .menu__items ul {
    top: auto;
    bottom: 100%;
  }

  .filter__search {
    display: flex;
    justify-content: center;
  }

  .filter__search input::placeholder {
    color: #000;
    font-weight: 900;
  }

  .icon-search {
    display: block;
  }

  .menu__items .filter__search:hover {
    background-color: transparent;
  }

  @keyframes flySlow {
    from {
      top: 50%;
      left: 0%;
    }
    to {
      top: 0%;
      left: 80%;
    }
  }

  .about__mainly {
    background-size: cover;
  }
}
